@model Brand

<h2>Add Brand</h2>

<form asp-action="Create" method="post">
    <div>
        <label asp-for="Name">Name</label>
        <input asp-for="Name" />
    </div>
    <button type="submit">Ekle</button>
</form>
